body{
    color:#201b2d;
    font-style: 15px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    }
.animated.section-title{
      opacity: 0;
    }
    /*
    fonts:
    font-family: 'Montserrat';
    font-family: 'Open Sans';
    font-family: 'Ubuntu';
    */
    div,p,input,button,form,span,a,ul,li{
    box-sizing: border-box;
    }
    h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: bold;
    }
    .header{
        background: rgba(78,189,254,1);
        background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(48,129,186,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(48,129,186,1)));
        background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(48,129,186,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(48,129,186,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(48,129,186,1) 100%);
        background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(48,129,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3081ba', GradientType=1 );
        padding-top: 72px;
        color:white;
        padding-bottom: 50px;
    }    
    .container{
        width: 1170px;
        margin: 0 auto;
    }
    p{
        line-height: 1.65em;
    }
    .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .offer{
        
        width: 578px;
    }
    .title{
        font-size: 37px;
        width: 570px;
    }
    .title span{
        font-size: 59px;
    }
    .intro{
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        margin-top: 47px;
        width: 405px;
    }
    .btn{
        background:#ffd429;
        color: #2e2a1b;
        width: 220px;
        text-decoration: none;
        text-align: center;
        padding: 20px 0;
        display: block;
        margin-top: 45px;
        transition: all 0.5s ease;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 16px;
        border: 0px;
    }
    .btn:hover{
        background: #ebc326;
    }
    .section-title{
    text-align: center;
    font-size: 30px;
    }
    .learn{
    padding-top: 108px;
    padding-bottom: 120px;
    }
    .skills{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 76px;
    }
    .skill-title{
    font-size: 19px;
    padding-top: 15px;
    }
    .skill{
        width: 300px;
        background: url('../img/time.png') no-repeat top;
        padding-top: 70px;
    }
    .skill-text{
        margin-top: 24px;
    }
    .skill-beach{
        background: url('../img/beach.png') no-repeat top;
    }
    .skill-launch{
        background: url('../img/launch.png') no-repeat top;
    }
    .mail{
        background: #ecf3f8;
    }
    #formout{
        padding-top: 105px;
    }
    .input{
        width: 340px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid gray;
        background:white;
        height: 48px;
        padding-left: 20px;
        margin-bottom: 15px;
        font-family: 'Ubuntu';
        font-weight: 400;
    }
    .new-btn{
        margin-left: auto;
        margin-right: auto; 
        width:340px;
        
    }
    .form{
        padding-top: 65px;
        
    }
    .second-cont{
        padding-bottom: 102px;
    }
    .footer{
        background: #164d7a;
        color: white;
        text-align: center;
        
    }
    .rights{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 0px;
        margin-top: 0;
    
    }
    /*Responsive*/
    /*992px - 1200px*/
@media screen and (max-width: 1200px){
    .container{
      width: 960px;
    }
    .desktop {
      width: 400px;
    }
    .title {
      margin-top: 60px;
    }
  }
  /*768px - 992px*/  
  @media screen and (max-width: 992px){
    .container {
      width: 720px;
    }
    .wrapper {
      flex-direction: column;
    }
    .offer {
      width: 100%;
    }
    .intro {
      width: auto;
    }
    .title {
      width: auto;
      margin-top: 60px;
    }
    .skills {
      flex-direction: column;
    }
    .skill {
      width: auto;
      margin-top: 30px;
    }  
  }
  /*576px - 768px*/
  @media screen and (max-width: 768px){
    .container{
      width: 540px;
    }
  }
  /*0px - 576px*/
  @media screen and (max-width: 576px){
    .container{
      width: 100%;
      
    }
    .input{
      width: 90%;
    }
    .new-btn {
      width: 90%;
    }
    .desktop {
      width: 90%;
    }
  }